<section id="family" class="family-section">
  <div class="family-content">
    <a href="#" class="family-img">
      <div class="images-family">
        <img src="./img/family/people6.webp" alt="family" class="family-image logo-image-1">
        <img src="./img/family/people8.webp" alt="family" class="family-image logo-image-2">
      </div>
    </a> 
    <div class="family-text">
      <p data-translate="heroText2">Family is our shield and our support. In their embrace, we find unconditional love and support that gives us strength in the toughest moments.</p>
    </div>
  </div>
</section>



