<section class="footer" id="footer-section">
  <div class="text">
    <p data-translate="heroText3">In the heart of each of us lives a home that preserves the most precious moments of our lives</p>
  </div>

  <div class="footer-photos">
    <img class="photo-wide-footer transparent-image" src="./img/footer/hands-1.webp" alt="Дім" width="400" height="600" loading="lazy" />
  </div>
  <div class="footer-text">
    <p data-translate="heroText6">Ваші дії та слова надали дали нам сили. Ми ніколи не забудемо вашого щирого бажання допомогти. Дякуємо Вам!</p>
    </div>
    <div class="footer-photo">
      <img class="photo-wide-footer transparent-image" src="./img/footer/people.webp" alt="Дім" width="400" height="600" loading="lazy" />
    </div>
</section>
