<section id="home" class="hero-section">
  <h2 class="visually-hidden">Hero Section</h2>
  <div class="hero-text">
    <p data-translate="heroText1">Care and support that
    <br>embodies hope,
    <br>unites the hearts
    <br>of children and adults,
    <br>transforming challenges
    <br>into strength and inspiration.</p>
</div>
  <div class="hero-content">
    <a href="#" class="hero-img">
      <div class="images">
        <img src="./img/header/children.webp" alt="logo" class="hero-image logo-image-1">
        <img src="./img/header/hands2.webp" alt="logo" class="hero-image logo-image-2">
      </div>
    </a>
  </div>
</section>
