body {
  background-image: url('../img/header/color.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0; /* Додаємо відступи */
}

/* Логотип */
.header-logo {
  margin: 10px auto 10px;
  text-align: center;
}

.header-logo img {
  max-width: 50px;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.header-logo img:hover {
  transform: scale(1.1);
}

/* Опис логотипу */
.logo-description {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  color: hsl(71, 97%, 50%);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  transition: color 0.3s, letter-spacing 0.3s;
  margin-right: 15px; /* Відстань між описом логотипа і кнопкою */
}

.logo-description:hover {
  color: hsl(235, 93%, 50%);
  letter-spacing: 2px;
}

.header-action {
  margin-top: 10px;
}

/* Хедер */
.header {
  background: url('../img/header/sofia.webp') no-repeat center center/cover;
  padding: 0 20px;
  text-align: center;
  border-radius: 15px;
  margin: auto;
  position: relative;
}

/* Контент заголовка */
.header-content {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Кнопка для перемикання мови */
.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Логотип ліворуч, кнопка праворуч */
}

/* Кнопка для перемикання мови */
.lang-button {
  margin-left: auto; /* Переміщуємо кнопку до правого краю */
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легка тінь для виділення */
}

/* Сіяючий ефект для кнопки при наведенні */
.lang-button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.8), 0 0 40px rgba(255, 255, 0, 0.6); /* Сіяюча тінь */
  transform: scale(1.05); /* Невелике збільшення кнопки */
}

/* Фіксована ширина та висота для прапорів */
.flag-icon {
  width: 30px;
  height: 20px;
  margin: 0 8px;
  object-fit: cover;
  filter: drop-shadow(0 2px 3px rgba(229, 185, 90, 0.3)); /* Тінь для виділення прапорів */
}

/* Кнопка скролу */
.scroll-button {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;
  background-color: hsl(235, 93%, 50%);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.scroll-button:hover {
  background-color: hsl(235, 80%, 60%);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(216, 200, 13, 0.2);
}

/* Галерея зображень */
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  align-content: center;
}

.image-gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.image-gallery img:hover {
  transform: scale(1.05);
}

/* Виділення кольором */
.yellow-highlight {
  color: hsl(234, 91%, 48%);
}

/* Анімації */
.highlight {
  display: inline-block;
  animation: slideInRight 1s ease-out forwards;
  color: hsl(235, 93%, 50%);
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
